<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TopGames</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP2.styles.css" asp-append-version="true" />
</head>
    <body style="background-image:url(../assets/backgroundImg.png); background-size: cover; background-repeat: no-repeat;">
        <main role="main">
            @RenderBody()
        </main>
    </body>
</html>